<a href="<%= paypal_payment_order_checkout_url @order, :payment_method_id => payment_method %>" >
  <img src="https://www.paypal.com/de_DE/AT/i/btn/btn_xpressCheckout.gif" style="margin-right:7px; background-color: white; padding: 0px;"/>
</a>
